//====================================================================================================
.footer {
	background-color: #9191fc;
	padding: rem(10) 0;
	// .footer__container
	&__container {
		position: relative;
	}
	// .contacts__decor-paws
	&__decor-paws {
		position: absolute;
		top: 0;
		@include adaptiveValue("right", -225, 20, 1920, 1300, 1);
		width: 60px;
		transform: translate(0, -100%) rotate(27.45deg);
		path {
			fill: transparent;
			transition: fill 0s steps(1) 0s;
			._watcher-view & {
				fill: #d5d5fb;
				@for $var from 1 to 6 {
					$delay: 0.3 * $var;
					&:nth-child(#{$var}) {
						transition-delay: $delay + s;
					}
				}
			}
			._no-anim-paws & {
				fill: transparent !important;
				transition-delay: 0s !important;
			}
			._anim-paw & {
				fill: #d5d5fb !important;
				@for $var from 1 to 9 {
					$delay: 0.3 * $var;
					&:nth-child(#{$var}) {
						transition-delay: $delay + s;
					}
				}
			}
		}
		@media (max-width: em(1699.98)) {
			transform: translate(0, -100%) rotate(15deg);
			top: -15px;
		}
		@media (max-width: em(1499.98)) {
			transform: translate(0, -100%) rotate(0deg);
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	// .footer__row
	&__row {
		display: grid;
		grid-template-columns: 260px 1fr 260px;
		align-items: center;
		gap: rem(30) rem(50);
		@media (max-width: em(1569.98)) {
			gap: rem(5) rem(50);
			grid-template-columns: 260px 1fr 100px;
		}
		@media (max-width: $tablet) {
			gap: rem(20);
		}
		@media (max-width: em(649.98)) {
			grid-template-columns: 1fr 112px;
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
		}
	}
	// .footer__column
	&__column {
		// .footer__column_logo
		&_logo {
			@media (max-width: em(649.98)) {
				display: flex;
				justify-content: flex-start;
			}
			@media (max-width: $mobileSmall) {
				justify-content: center;
			}
		}
		// .footer__column_central
		&_central {
			@media (max-width: $mobile) {
				grid-row: span 3;
			}
			@media (max-width: em(649.98)) {
				display: none;
			}
		}
		// .footer__column_up
		&_up {
			@media (min-width: em(1569.98)) {
				display: none;
			}
			@media (max-width: em(1569.98)) {
				grid-row: span 2;
			}
			@media (max-width: $mobile) {
				grid-row: span 3;
			}
			@media (max-width: em(649.98)) {
				grid-row: span 2;
			}
			@media (max-width: $mobileSmall) {
				display: none;
			}
		}
		// .footer__column_social
		&_social {
			@media (max-width: $mobileSmall) {
				display: flex;
				justify-content: center;
			}
		}
		// .footer__column_name
		&_name {
			@media (min-width: em(649.98)) {
				display: none;
			}
		}
		@media (max-width: em(1569.98)) and (min-width: em(479.98)) {
			// .footer__column_logo
			&_logo {
				grid-row: span 2;
			}
		}
	}
	// .footer__logo-block
	&__logo-block {
		@media (max-width: em(649.98)) {
			flex: 0 0 210px;
		}
	}
	// .footer__list
	&__list {
		display: grid;
		grid-template-columns: repeat(5, auto);
		gap: rem(20);
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
		@media (max-width: $pc) {
			grid-template-columns: repeat(4, auto);
		}
		@media (max-width: em(1125)) {
			grid-template-columns: repeat(3, auto);
		}
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, auto);
		}
		@media (max-width: $mobile) {
			grid-template-columns: auto;
			justify-content: center;
		}
	}
	// .footer__item
	&__item {
	}
	// .footer__link
	&__link {
		position: relative;
		font-size: rem(20);
		font-weight: 600;
		line-height: math.div(30, 20);
		transition: color 0.2s ease 0s;
		svg {
			pointer-events: none;
			position: absolute;
			bottom: -17px;
			left: -16px;
			path {
				stroke-dasharray: 81.92820739746094;
				stroke-dashoffset: 81.92820739746094;
				.loaded & {
					transition: all 0.4s linear 0s;
				}
			}
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $subColor;
				svg {
					path {
						stroke-dasharray: 81.92820739746094;
						stroke-dashoffset: 0;
					}
				}
			}
		}
	}
	// .footer__copy
	&__copy {
		color: #fff;
		line-height: math.div(22, 18);
		@media (max-width: $mobile) {
			font-size: rem(15);
		}
	}
	// .footer__social
	&__social {
	}
	// .footer__up
	&__up {
		@media (min-width: em(1569.98)) {
			position: absolute;
			top: 50%;
			right: -32px;
			transform: translate(100%, -50%);
		}
		width: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		svg path {
			transition: fill 0.2s ease 0s;
		}
		span {
			
			line-height: 1.3;
			font-weight: 900;
			text-transform: uppercase;
			color: #d5d5fb;
			transition: color 0.2s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					color: #fff;
				}
				svg path {
					&:not(:nth-child(6)) {
						fill: #fff;
					}
				}
			}
		}
		@media (max-width: em(1630)) and (min-width: em(1569.98)) {
			right: 0px;
		}
	}
	// .footer__bottom-block
	&__bottom-block {
		margin-top: rem(30);
	}
}
.social-footer {
	// .social-footer__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: rem(20);
		&:not(:last-child) {
			margin-bottom: rem(23);
		}
		@media (max-width: $mobileSmall) {
			justify-content: center;
		}
	}
	// .social-footer__item
	&__item {
	}
	// .social-footer__link
	&__link {
		background-color: #fff;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.2s ease 0s;
		svg path {
			transition: fill 0.2s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #4e6297;
				svg path {
					fill: #fff;
				}
			}
		}
	}
	// .social-footer__info
	&__info {
		position: relative;
		font-size: rem(14);
		line-height: math.div(17, 14);
		color: #fff;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0%);
			height: 1px;
			background-color: #fff;
			width: 0%;
			transition: width 0.2s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					width: 100%;
				}
			}
		}
	}
}
//====================================================================================================
.block-bottom-footer {
	@media (min-width: em(1569.98)) {
		display: none;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: rem(20);
	padding: 0 rem(20);
	@media (max-width: $mobile) {
		padding: 0;
	}
	@media (max-width: em(649.98)) {
		justify-content: center;
	}
	@media (max-width: $mobileSmall) {
		flex-direction: column;
		align-items: center;
		row-gap: rem(20);
		text-align: center;
	}
	// .block-bottom-footer__copy
	&__copy {
	}
	// .block-bottom-footer__design
	&__design {
	}
}
