//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	padding: rem(30) 0px;
	transition: all 0.3s ease 0s;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		filter: blur(2px);
	}
	@media (max-width: $tablet) {
		padding: rem(20) 0px;
		._scroll-up &,
		._scroll-down & {
			padding: rem(10) 0;
		}
	}
	// .header__container
	&__container {
	}
	// .header__row
	&__row {
		&:not(:last-child) {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				z-index: 1;
				background-color: #d5d5fb;
			}
			padding: 0px 0px rem(20) 0px;
			@media (max-width: $mobileSmall) {
				padding: 0px 0px rem(10) 0px;
			}
		}
	}
	._scroll-up &,
	._scroll-down & {
		position: fixed;
		&::before {
			background-color: rgba(255, 255, 255, 0.9);
			opacity: 1;
			visibility: visible;
		}
	}
	._scroll-down & {
		transform: translate(0%, -100%);
	}
	@media (max-width: $tablet) {
		padding: rem(10) 0;
		._scroll-up &,
		._scroll-down & {
			.header__row {
				padding: 0;
				&::before {
					opacity: 0;
				}
			}
		}
	}
}
.row-top-header {
	display: flex;
	align-items: center;
	transition: width 0.3s ease 0s, opacity 0.3s ease 0s, padding 0.3s ease 0s, height 0.45s ease 0.3s;
	@media (min-width: $tablet) {
		._scroll-up &,
		._scroll-down & {
			width: 0;
			height: 0;
			opacity: 0;
			padding: 0;
			visibility: hidden;
		}
	}
	// .row-top-header__column
	&__column {
		&:first-child {
			flex: 1 1 auto;
			padding: 0px 20px 0px 0px;
		}
	}
	// .row-top-header__logo-block
	&__logo-block {
	}
	// .row-top-header__logo
	&__logo {
	}
	// .row-top-header__content
	&__content {
		display: flex;
		column-gap: rem(72);
		align-items: center;
	}
	// .row-top-header__body
	&__body {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		position: relative;
		padding: 0px 0px 0px rem(56);
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0%, -50%);
			height: 40px;
			width: 40px;
		}
		// flex-direction: column;
		&_address {
			&::before {
				background: url("../img/icons/header/location.svg") center / cover no-repeat;
			}
		}
		&_phone {
			&::before {
				background: url("../img/icons/header/phone.svg") center / cover no-repeat;
			}
		}
	}
	// .row-top-header__link
	&__link {
		font-size: rem(20);
		line-height: math.div(30, 20);
		font-weight: 600;
		@media (max-width: $mobileSmall) {
			font-size: rem(22);
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .row-top-header__text
	&__text {
		font-size: rem(20);
		line-height: math.div(30, 20);
		font-weight: 600;
		text-transform: uppercase;
		color: $subColor;
		text-shadow: 0px 5px 20px rgba(0, 25, 34, 0.2);
		transition: text-shadow 0.2s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				text-shadow: 0px 5px 20px rgba(0, 25, 34, 0.2), 0px 0px 0px $subColor, 0px 0px 0.5px $subColor;
			}
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(22);
		}
	}
}
.row-bottom-header {
	padding: rem(10) 0px 0px 0px;
	transition: padding 0.3s ease 0s;
	._scroll-up &,
	._scroll-down & {
		padding: 0;
		// @media (max-width:$tablet){
		// 	width: 0;
		// 	height: 0;
		// 	opacity: 0;
		// 	padding: 0;
		// 	visibility: hidden;
		// }
	}
	@media (max-width: $mobile) {
		padding: 0;
	}
	// .row-bottom-header__menu
	&__menu {
	}
}
.dinamic-adaptive-header {
	position: relative;
	z-index: 0;
}
.menu {
	@media (max-width: $tablet) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: rem(20);
	}
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			top: 0;
			left: 100%;
			width: 100%;
			height: 100%;
			padding: rem(165) rem(20) rem(30);
			background-color: rgba(230, 230, 252, 0.95);
			overflow: auto;
			transition: left 0.3s ease 0s;
			&::before {
				content: "";
				position: fixed;
				z-index: 1;
				top: 0;
				left: 100%;
				width: 100%;
				height: rem(104);
				background-color: #fff;
				transition: left 0.3s ease 0s;
			}
		}
		@media (max-height: em(400)) {
			padding: rem(135) rem(20) rem(30);
		}
		@media (max-width: $mobileSmall) {
			padding: rem(135) rem(20) rem(30);
			&::before {
				height: rem(104);
			}
		}
		.menu-open & {
			left: 0;
			&::before {
				left: 0;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: rem(15) rem(20);
		@media (min-width: $tablet) {
			justify-content: space-between;
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: center;
			row-gap: rem(30);
		}
	}
	// .menu__item
	&__item {
		// .menu__item_dinamic-first
		&_dinamic-first,
		&_dinamic-last {
			display: none;
			@media (max-width: $mobile) {
				display: block;
			}
		}
	}
	// .menu__link
	&__link {
		position: relative;
		font-size: rem(20);
		line-height: math.div(30, 20);
		font-weight: 600;
		transition: color 0.2s ease 0s;
		svg {
			pointer-events: none;
			position: absolute;
			bottom: -17px;
			left: -16px;
			path {
				stroke-dasharray: 81.92820739746094;
				stroke-dashoffset: 81.92820739746094;
				.loaded & {
					transition: all 0.4s linear 0s;
				}
			}
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(22);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $subColor;
				svg {
					path {
						stroke-dasharray: 81.92820739746094;
						stroke-dashoffset: 0;
					}
				}
			}
		}
	}
}
//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: 50px;
		height: 30px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 5px;
			background-color: $subColor;
			border-radius: rem(20);
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 2.5px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 2.5px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 2.5px);
			}
		}
	}
}
