body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
body.popup-show::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #fff;
	padding: 50px 30px;
	width: 100%;
	max-width: 600px;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
	@media (max-width:$mobileSmall){
		padding: 50px 15px; 
	}
}
.popup__content_video {
	max-width: 900px;
	@media (min-width: $tablet) {
		position: relative;
	}
	padding: 0;
	border-radius: 0;
	background-color: transparent;
}
.popup__video {
	padding-bottom: percent(1080, 1920);
}
.popup__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.popup__close {
	outline: none;
	position: absolute;
	z-index: 1;
	width: 30px;
	height: 30px;
	top: 30px;
	right: 30px;
	background-color: transparent;
	&::before,
	&::after {
		content: "";
		width: 100%;
		height: 3px;
		background-color: $subColor;
		position: absolute;
		top: 50%;
		left: 50%;
	}
	&::before {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	&::after {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	@media (max-width: $mobileSmall) {
		right: 15px;
		top: 15px;
	}
}
.popup__close_video {
	@media (min-width: $tablet) {
		top: 0;
		right: 0;
		transform: translate(calc(100% + 5px), calc(-100% - 5px));
	}
	@media (max-width: $tablet) {
		display: none;
	}
}
.popup__title {
	margin-bottom: 30px !important;
	&:last-child{
		margin-bottom: 0 !important;
		text-align: center;
	}
	padding-left: 0 !important;
	padding-right: 40px;
	@media (max-width: $mobileSmall) {
		padding: 0;
	}
}
.popup__form {
}
.popup__input-block {
	&_symbols {
		text-align: right;
	}
	&_button {
		text-align: center;
	}
	&:not(:last-child) {
		margin-bottom: rem(20);
	}
}
.popup__input {
	height: 60px;
	@media (max-width: $mobileSmall) {
		height: 50px;
	}
}
.popup__textarea {
	height: 170px;
	@media (max-width: $mobileSmall) {
		height: 140px;
	}
}
.popup__symbols-textarea {
	font-weight: 600;
}
.popup__button {
}
